
@{
    ViewBag.Title = "TinTuc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TinTuc</h2>
<link href="~/Content/cssMain.css" rel="stylesheet" />

<div class="grid">
    <table id="tbListCustomer" class="tableFixHead" width="100%" border="1">
        <thead>
            <tr>
                <th width="100px">Mã bảng</th>
                <th>Tên bảng</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/js/Role.js">
    LoadData();
</script>